# Terraform local state and provider cache
deployment/terraform/.terraform/
deployment/terraform/*.tfstate
deployment/terraform/*.tfstate.backup
deployment/terraform/*.tfvars
deployment/terraform/backend.tf

# Credentials
.env

# Python
__pycache__/
*.pyc

# Outputs
dump-reconciliation/outputs

# pgstac Dump
*.dump

# Git
.git_local_repo_credentials
